@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
* {
  box-sizing: border-box;
}
body {
  margin-top: 2rem;
  font-family: 'Lato', sans-serif;
  background: #404344;
  color: #0a0a0a;
  -webkit-font-smoothing: antialiased;
  font-size: 1.1rem;
}
dl {
  margin: 0;
  padding: 0;
}
dt,
dd {
  text-align: center;
}
dt {
  font-weight: 900;
  margin-bottom: 0.2rem;
}
dd {
  margin: 0 0 1rem 0;
}
.searchbox {
  display: flex;
  flex-direction: row;
  /* width: 50%; */
  margin-left: 24rem;
}
.input_search {
  height: 3rem;
    width: 35%;
    box-shadow: none;
    border: none;
    padding: 1rem 2rem;
    color: #003d44;
    border-radius: 0.4rem 0rem 0rem 0.4rem;
}
.searchbox__button {
  width: 25%;
    padding: 1rem 2rem;
    border: none;
    /* margin: 1rem 0 0 0; */
    background: #9ea6a7;
    color: #080808;
    font-weight: 700;
    border-radius: 0rem 0.4rem 0.4rem 0rem;
}
.searchbox__button:hover {
  background: #5c6869;
}
.card {
  position: relative;
  background: #9ea6a7;
    max-width: 35rem;
    margin: 7rem auto 2rem;
    border: solid 5px #6b7273;
  border-radius: 0.4rem;
  padding: 5.5rem 2.5rem 1rem;
}
.card__avatar {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10rem;
  height: auto;
  text-align: center;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  background: #787d7d;
  padding: 5px;
  max-width: 100%;
  transition: 0.2s;
}
.card__avatar:hover {
  background: #5c6869;
}
.card__username {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  margin: 1rem auto;
}
.card__link {
  color: #131212;
  border-bottom: solid 2px #777;
  text-decoration: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.card__link:hover {
  opacity: 0.8;
}
.card__notfound {
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
}


